[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
[submodule "genesis-config"]
	path = genesis-config
	url = https://github.com/ALGOBLOCKS/algoblocks-genesis-config.git
